extends layout

block content

  main 
    h1= title
    h2="Messages:"
    each val in messages  
      div
        p="Name: " + val.user
        p="Message: " + val.text
        p="Date Sent: " + val.added
    a(href="/new")="Add Message" 
